/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #f4f5f8;
  background-color: #16151d;

  font-family: 'Inter', 'SF Pro Display', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  flex-flow: column nowrap;
  padding: 10em;
}

/* Common for almost all sections */
.section--secondary {
  gap: 0.5em;
  padding: 10em 18em;
}
.section--secondary > .title {
  font-weight: 800;
  font-size: 1.5em;
}
.section--secondary > .subtitle {
  color: #5e6ad2;
}
.section--secondary > .description {
  font-weight: 300;
  color: #f4f5f8bb;
}
.section--secondary > .description {
  font-weight: 300;
  color: #f4f5f8bb;
}
.section--secondary > .description .command {
  font-size: 0.8em;
  border-radius: 0.2em;
  padding: 0.05em 0.2em;
  border: 1px solid #f4f5f8bb;
  color: #f4f5f8bb;
}

/* Common for inputs */
.input-container {
  width: 25em;
  display: flex;
  align-items: center;

  padding: 0.5em;
  border-radius: 0.3em;
  background-color: #192430;
}
.input-container .input {
  flex: 1;
  padding: 0.5em;
  border: none;
  outline: none;
  color: #f4f5f8;
  background-color: inherit;
}
.input-container .input::placeholder {
  color: #f4f5f899;
}
.input-container .button {
  border: none;
  outline: none;
  cursor: pointer;

  padding: 1em 2em;
  color: #f4f5f8;
  background-color: #3d51c1;
  border-radius: 0.3em;
}

/* Common for grids */
.grid {
  margin-top: 2em;
  display: grid;
  border-radius: 0.8em;
  background-color: #27282d;
}
.grid > .grid-item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 0.2em;
  font-size: 0.9em;

  border: 1px solid #1a1921;
  padding: 3em 2em;
}
.grid > .grid-item > .icon {
  font-size: 1.2em;
  font-weight: 700;
  color: #5e6ad2;
}
.grid > .grid-item > .title {
  font-weight: 600;
  margin-top: 0.5em;
}
.grid > .grid-item > .description {
  font-weight: 400;
  color: #f4f5f8bb;
}

/* Common for ul's */
.u-list {
  color: #f4f5f8bb;
  list-style: none;

  font-size: 0.9em;
  font-weight: 500;

  display: flex;
  gap: 2em;
}
.u-list > .list-item {
  cursor: pointer;
}
.u-list > .list-item--active {
  color: #808ef3;
}
.u-list > .list-item--muted {
  color: #f4f5f899;
}
/* End General */

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1em 5em;

  border-bottom: 1px solid #f4f5f833;
}
.header .logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.header .logo .title {
  font-size: 1.2em;
}
/* End Header */

/* First Section */
.section--first {
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2em;

  background: linear-gradient(#16151d, #051d27, #241d21, #1a1921);
}

.section--first > .subtitle {
  color: #f4f5f8bb;
  font-size: 0.8em;
  font-weight: lighter;
  letter-spacing: 1em;
}
.section--first > .title {
  padding: 0 5em;
  font-size: 3em;
}
.section--first > .description {
  padding: 0 15.3em;
  color: #f4f5f899;
}
.section--first > .img {
  width: 60em;

  border-radius: 0.3em;
  border: 1px solid #f4f5f833;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
/* End First Section */

/* Main Features Section */
.section--main-features {
  background-color: #1a1921;
}
.section--main-features > .grid {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
/* End Main Features Section */

/* Feature Spotlight Section */
.section--feature-spotlight > .img-container {
  position: relative;

  width: 100%;
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section--feature-spotlight > .img-container > .outer-img {
  border-radius: 1em;
  width: 100%;
}
.section--feature-spotlight > .img-container > .inner-img {
  border-radius: 0.3em;
  position: absolute;
  top: 20%;
  width: 35em;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
/* End Feature Spotlight Section */

/* Integrations Section */
.section--integrations {
  background-color: #1a1921;
}
.section--integrations > .grid {
  grid-template-columns: repeat(3, 1fr);
}
.section--integrations > .more {
  margin-top: 1em;
  font-size: 0.9em;
  color: #f4f5f899;
}
/* End Integrations Section */

/* About Us Section */
.section--about-us {
  background-color: #17161d;
}
.section--about-us > .contact-container {
  margin-top: 2em;
  padding-bottom: 3em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5em;

  color: #5e6ad2;

  border-bottom: 1px solid #f4f5f833;
}
.section--about-us > .contact-container > .contact {
  cursor: pointer;
}

.section--about-us > .profiles {
  margin-top: 3em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.section--about-us > .profiles > .profile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5em;
}
.section--about-us > .profiles > .profile > .avatar {
  border-radius: 0.3em;
}
.section--about-us > .profiles > .profile > .title {
  font-weight: 600;
}
.section--about-us > .profiles > .profile > .description {
  color: #f4f5f899;
  font-size: 0.9em;
  font-weight: 400;
}
.section--about-us > .profiles > .profile > .description > .brand {
  color: #f4f5f8;
}
.section--about-us > .profiles > .profile > .links {
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
}
.section--about-us > .profiles > .profile > .links > img {
  cursor: pointer;
}

.section--about-us > .access {
  margin-top: 5em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  border-radius: 1em;
  padding-top: 3em;
  padding-left: 2.5em;
  background-color: #27282d;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.section--about-us > .access > .content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3em;
}
.section--about-us > .access > .content > .text-container {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}
.section--about-us > .access > .content .title {
  font-size: 1.2em;
  font-weight: 800;
}
.section--about-us > .access > .content .description {
  font-size: 0.9em;
  font-weight: 300;
  color: #f4f5f8dd;
}
.section--about-us > .access img {
  border-radius: 0.3em;
}
.section--about-us > .access > .content > .input-container {
  width: 100%;
  background-color: #2c2c36;
}
/* End About Us Section */

/* Footer */
.footer {
  color: #f4f5f899;
  padding: 2.5em 9em;

  font-size: 0.8em;
  border-top: 1px solid #f4f5f833;
  background-color: #17161d;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.footer .logo {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
/* End Footer */
